*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(127, 255, 146);
    padding: 10px;
} 
.bg{
    border: 3px dotted rgb(0, 8, 255);
    background-color: coral;
    border-radius: 50px;
    height: 150px;
    border-width: 20px;
}
.bg input{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: transparent; */
}